
@{
    ViewBag.Title = "支付成功";
    ViewBag.BodyClass = "payok-body";
}
@section styles{
    <link rel="stylesheet" href="/Content/Pay/css/index.css?@ShiMiao.Common.Constants.ResourceVersion" />
}
<div class="wrapper wrapper-payok">
    
</div>
