<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=221.12.75.250;user id=cbcpay;password=cbc1N66wz;database=cbcpay"/>
  </connectionStrings>
</configuration>