body{
    background:#fff;
}
.wrapper-index .top-image{
    width:100%;
}
.wrapper-index .wrapper-bar img{
    width:100%;
}
.wrapper-index .audio-container{
    position:absolute;
    top:20px;
    right:20px;
    border-radius:38px;
}
.wrapper-index .row-count{
    display:-webkit-box;
    margin:10px;
    padding:10px;
    background:#fff;
    border-radius:5px;
}
.wrapper-index .row-count > * {
    -webkit-box-flex:1;
    -webkit-box-align:center;
    -webkit-box-pack:center;
    text-align:center;
}
.wrapper-index .row-count .money{
    color:#db1313;
}
.wrapper-index .row-count .text{
    margin-top:5px;
    font-size:14px;
    color:#aaa;
}
.row-count{
    background:#fff;
}
.wrapper-index .img-sylz{
    font-size:14px;
    padding:5px 0px;
    background:#fff;
    text-align:center;
    vertical-align: middle;
    margin:0 auto;      
    display: table;
}
.wrapper-index .img-sylz .fo-image{
    width:64px;
    margin-right:5%;
    float:left;
}
    .wrapper-index .img-sylz .text {
        width: 60%;
        float: left;
        height: 64px;
        line-height: 30px;
        font-size: larger;
    }
    .wrapper-index .img-sylz .memotext {
        margin:10px 10px;         
        float:left;
        text-align:left; 
        font-size:9px;     
    }
    .wrapper-index .img-sylz:after{
        content: "";
            display: block;
            line-height: 0;
            clear: both;
    }
    .wrapper-index .img-sylz .count1{
        color:#bb2020;
    }
.wrapper-index .goods-list{
    background:#fff;
}
.wrapper-index .goods-list .item{
    margin:10px 10px;
    padding:0px;
    border:1px solid #ccc;
}
    .wrapper-index .goods-list .item .goods-image{
        width:100%;
    }
      .wrapper-index .goods-list .item .info{
          display:-webkit-box;
          background:#fff;
          padding:5px 10px;
      }
      .wrapper-index .goods-list .item .left{
          -webkit-box-flex:1;
      }
    .wrapper-index .goods-list .item .price{
        color:#bb2020;
        font-size:14px;
        margin-top:10px;
    }
    .wrapper-index .goods-list .item .amount{
        margin-top:10px;
        color:#888;
        font-size:11px;
    }
   .wrapper-index .goods-list .item .btn-donation{
       display:block;
       color:#fff;
       font-size:14px;
       text-align:center;
       letter-spacing:3px;
       margin-top:5px;
   }
    .wrapper-index .goods-list .item .btn-donation img{
        width:80px;
    }
   .wrapper-index .order-list{
       margin:0px 10px;
       font-size:12px;
   }
   .wrapper-index .order-marquee{
       max-height:150px;
       overflow:hidden;
   }
   .wrapper-index .order-list .order-item{
       padding:5px 0px;
       display:-webkit-box;
   }
    .wrapper-index .order-list .order-item >* {
        -webkit-box-flex:initial;
    }
    .wrapper-index .order-list .order-item >.time {
        width:80px;
        overflow:hidden;
    }
    .wrapper-index .order-list .order-item >.nickname {
        -webkit-box-flex:1;
        width:0;
        overflow:hidden;
        -webkit-box-align:start;
    }
    .wrapper-index .order-list .order-item >.title {
        width:0;
        -webkit-box-flex:2;
        overflow:hidden;
        -webkit-box-align:start;
    }
    .wrapper-index .order-list .order-item >.price {
        width:60px;
        overflow:hidden;
    }
    .wrapper-index .liang{
        margin:0px 10px 10px 10px;
        border:1px solid #ccc;
    }
    .wrapper-index .liang img{
        width:100%;
    }
    .wrapper-index .liang .info{
          display:-webkit-box;
          background:#fff;
          margin:5px 0px;
            border-bottom:1px dashed #ccc;
            padding-bottom:5px;
    }
    .wrapper-index .liang .info:last-child{
        border-bottom:0px;
        padding-bottom:0px;
    }
    .wrapper-index .liang .liang-item{
        border-bottom:1px solid #ccc;
        margin:0px 10px;
    }
    .wrapper-index .liang .liang-item:last-child{
        border-bottom:0px;
    }
.wrapper-index .liang .info .title{
    font-weight:bold;
}
.wrapper-index .liang .liang-title{
    font-weight:bold;
    padding:0px 10px;
    width:18px;
    font-size:18px;
}
      .wrapper-index .liang .left{
          -webkit-box-flex:1;
      }
    .wrapper-index .liang .price{
        color:#bb2020;
        font-size:14px;
        margin-top:10px;
    }
    .wrapper-index .liang .amount{
        margin-left:5px;
        margin-top:10px;
        color:#888;
        font-size:11px;
    }
   .wrapper-index .liang .btn-donation{
       display:block;
       color:#fff;
       font-size:14px;
       text-align:center;
       letter-spacing:3px;
       margin-top:5px;
   }
    .wrapper-index .liang .btn-donation img{
        width:80px;
    }
    .wrapper-index .llsjmnfx{
        margin:0px 10px 10px 10px;
        border:1px solid #ccc;
    }
    .wrapper-index .llsjmnfx img{
        width:100%;
    }
    .click-number .btn-default{
        background:#fff;
        color:#666;
        border:1px solid #ccc;
        height:25px;
        line-height:25px;
        width:15px;
        padding:0px 3px;
    }
    .wrapper-index .llsjmnfx .info{
          display:-webkit-box;
          background:#fff;
          padding:5px 10px;
      }
.wrapper-index .llsjmnfx .info .title{
    font-weight:bold;
}
      .wrapper-index .llsjmnfx .left{
          -webkit-box-flex:1;
      }
    .wrapper-index .llsjmnfx .price{
        color:#bb2020;
        font-size:14px;
        margin-top:10px;
    }
    .wrapper-index .llsjmnfx .amount{
        margin-top:10px;
        color:#888;
        font-size:11px;
    }
   .wrapper-index .llsjmnfx .btn-donation{
       display:block;
       color:#fff;
       font-size:14px;
       text-align:center;
       letter-spacing:3px;
       margin-top:5px;
   }
    .wrapper-index .llsjmnfx .btn-donation img{
        width:80px;
    }
.click-number input {
    height:25px;
    width:32px;
}
 .modal-order{
        background-color:transparent;
    }
    .modal-order .top1{
        background:#db1313;
        height:60px;
        border-radius:10px;
        box-shadow:0px 2px #880a0a;
        position:relative;
        margin-bottom:-10px;
    }
        .modal-order .top1 img{
            position:absolute;
            left: 50%;
            width:50px;
            height:50px;
            border-radius:50px;
            top:35px;
            margin-left:-25px;
        }
    .modal-order .member{
        margin-top:50px;
        text-align:center;
    }
        .modal-order .member a{
            color:#fff;
        }
        .modal-order .modal-body{
            background:#c21010;
        }
        .modal-order .money{
            text-align:center;
            margin-top:10px;
            color:#f6d54c;
            font-size:24px; 
        }
        .modal-order .input-money {
            /*margin:0 20px;*/
             margin:10px 40px 10px 20px;
            display:-webkit-box;
        }
        .modal-order .input-money > * {
            -webkit-box-flex:1;
        }
        .modal-order .input-money > .input {
                padding:0px 10px 0px 0px;
                margin:10px 0px;
            }

            .modal-order .input-money > .input input{
                outline:0;
                border:3px solid #f6d54c;
                height:30px;
                width:100%;
                padding:0px 20px 0px 10px;
                font-size:16px;
            }
            .modal-order .input-money > .text {
                -webkit-box-flex:initial;
                padding-top:5px;
                margin-top:10px;
                width:20px;
                height:30px;
                -webkit-box-align:center;
                -webkit-box-pack:center;
                font-size:16px;
            }
            .modal-order .message{
                margin:10px 40px 10px 20px;
            }
            .modal-order .message textarea{
                border:3px solid #f6d54c;
                height:46px;
                outline:0;
                resize : none;
                font-size:16px;
                width:100%;
                padding:10px;
            }
            .modal-order .anonymous{
                margin:0px 0px 10px 20px;
            }
            .chk-label {
                font-size:14px;
                        cursor:pointer;
                        color:#fff;
            }
            .chk-label i {
                font-size:14px;font-style:normal;display:inline-block;
                width:14px;height:14px;text-align:center;line-height:12px;color:#fff;
                vertical-align:middle;margin:-2px 2px 1px 0px;
                border:#fff 1px solid;
                        margin-right:5px;
            }
                .chk-label i span{
                    display:none;
                }
            .chk-label input[type="checkbox"]{
                display:none;
            }
            .chk-label input[type="checkbox"]:checked + i {
                background:#f6d54c;
            }
            .chk-label input[type="checkbox"]:checked + i span {
                display:inline-block;
            }
        .modal-order .modal-footer {
            background:#f6d54c;
            display:-webkit-box;
        }
        .modal-order .modal-footer a{
            display:block;
            padding:10px;
            border:1px solid #db1313;
            margin:3px;
            color:#db1313;
            font-weight:900;
        }
         .modal-order .modal-footer .change{
            background:#f6d54c;
            -webkit-box-flex:initial;
            width:120px;
            text-align:center;
        }
         .modal-order .modal-footer .next{
            background:#f6d54c;
            -webkit-box-flex:1;
            text-align:center;
            position:relative;
        }
.modal-order .modal-footer .next i{
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    font-size:200px;
}
.slowwheel {-webkit-animation: slowwheel 2s linear both;-webkit-animation-iteration-count:infinite;animation: slowwheel 2s  both;}
@-webkit-keyframes slowwheel {0% {-webkit-transform: rotate(0deg);}100% {-webkit-transform: rotate(360deg);}}
@keyframes slowwheel {0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}}
